In [1]:
import pandas as pd

In [20]:
dt_read = pd.read_excel("c:\Data\orders.csv.xlsx")
dt_ord = pd.DataFrame(dt_read)
print(dt_ord.head())

         id order_date ship_mode customer_id    sales
0  100006.0 2014-09-07  Standard    DK-13375  377.970
1  100090.0 2014-07-08  Standard    EB-13705  699.192
2  100293.0 2014-03-14  Standard    NF-18475   91.056
3  100328.0 2014-01-28  Standard    JC-15340    3.928
4  100363.0 2014-04-08  Standard    JM-15655   21.376

In [21]:
dt_cust_read = pd.read_excel('c:\Data\customers.csv.xlsx')
dt_cust = pd.DataFrame(dt_cust_read)
print(dt_cust.head())

         id             name    segment           state             city
0  CG-12520      Claire Gute   Consumer        Kentucky        Henderson
1  DV-13045  Darrin Van Huff  Corporate      California      Los Angeles
2  SO-20335   Sean O'Donnell   Consumer         Florida  Fort Lauderdale
3  BH-11710  Brosina Hoffman   Consumer      California      Los Angeles
4  AA-10480     Andrew Allen   Consumer  North Carolina          Concord

In [22]:
print(dt_ord.shape)
print(dt_cust.shape)

(5009, 5)
(793, 5)

In [23]:
dt_ord.describe()

              id         name   segment       state           city
count        793          793       793         793            793
unique       793          793         3          41            252
top     CG-12520  Claire Gute  Consumer  California  New York City
freq           1            1       409         161             68

In [24]:
dt_cust.describe()

              id         name   segment       state           city
count        793          793       793         793            793
unique       793          793         3          41            252
top     CG-12520  Claire Gute  Consumer  California  New York City
freq           1            1       409         161             68

In [28]:
all_ship_mode = dt_ord.groupby('ship_mode')['sales'].sum()
print(all_ship_mode)

ship_mode
First       3.514284e+05
Same Day    1.283631e+05
Second      4.591936e+05
Standard    1.358216e+06
Name: sales, dtype: float64

In [31]:
all_ship_mode_First = dt_ord['ship_mode'] == 'First'
print(dt_ord[all_ship_mode_First])

            id order_date ship_mode customer_id     sales
15    101147.0 2014-12-02     First    MC-17575     2.394
22    101476.0 2014-09-12     First    SD-20485    69.990
24    101602.0 2014-12-15     First    MC-18100   803.960
27    101931.0 2014-10-28     First    TS-21370  1252.602
38    103058.0 2014-07-23     First    AG-10270    99.980
...        ...        ...       ...         ...       ...
4986  165344.0 2017-11-13     First    SB-20290   725.079
4988  165456.0 2017-11-30     First    TB-21625  1079.316
4993  166324.0 2017-04-20     First    BE-11455   979.626
5006  169488.0 2017-09-07     First    AA-10375    56.860
5008  169551.0 2017-07-07     First    RL-19615  1344.838

[787 rows x 5 columns]

In [36]:
end_date = dt_ord.sort_values(by="order_date", ascending=False).head(1)
print(end_date)

            id order_date ship_mode customer_id    sales
3663  143259.0 2017-12-30  Standard    PO-18865  466.842

In [46]:

orders_for_5_years = dt_ord.query('order_date <= "2017-12-30" & order_date >= "2013-01-01"')[all_ship_mode_First]
print(orders_for_5_years)

            id order_date ship_mode customer_id     sales
15    101147.0 2014-12-02     First    MC-17575     2.394
22    101476.0 2014-09-12     First    SD-20485    69.990
24    101602.0 2014-12-15     First    MC-18100   803.960
27    101931.0 2014-10-28     First    TS-21370  1252.602
38    103058.0 2014-07-23     First    AG-10270    99.980
...        ...        ...       ...         ...       ...
4986  165344.0 2017-11-13     First    SB-20290   725.079
4988  165456.0 2017-11-30     First    TB-21625  1079.316
4993  166324.0 2017-04-20     First    BE-11455   979.626
5006  169488.0 2017-09-07     First    AA-10375    56.860
5008  169551.0 2017-07-07     First    RL-19615  1344.838

[787 rows x 5 columns]

In [49]:
len(orders_for_5_years)

787

In [50]:
len(dt_cust['state'] == 'California')

793

In [56]:
dt_cust[dt_cust['state'] == 'California']['id'].nunique()

161

In [68]:
dt_cust_California = dt_cust[dt_cust['state'] == 'California']
print(len(dt_cust_California))

161

In [73]:
dt_ord_from_California = pd.merge(dt_ord, dt_cust_California, how='inner', left_on=('customer_id'), right_on=('id'))
print(len(dt_ord_from_California))

1006

In [80]:
dt_ord_from_C = dt_ord.merge(dt_cust[dt_cust['state']=='California'], how='inner', left_on='customer_id', right_on='id')
print(dt_ord_from_C)

          id_x order_date ship_mode customer_id     sales      id_y  \
0     100328.0 2014-01-28  Standard    JC-15340     3.928  JC-15340
1     102792.0 2016-12-13  Standard    JC-15340     9.840  JC-15340
2     154536.0 2016-09-05  Standard    JC-15340     9.555  JC-15340
3     129441.0 2017-09-07  Standard    JC-15340    47.940  JC-15340
4     100678.0 2014-04-18  Standard    KM-16720   697.074  KM-16720
...        ...        ...       ...         ...       ...       ...
1001  162978.0 2017-05-04  Standard    LW-16990   502.474  LW-16990
1002  102239.0 2016-05-05     First    LW-16990  1691.608  LW-16990
1003  118542.0 2017-12-01  Standard    CC-12550    55.488  CC-12550
1004  123071.0 2017-12-03     First    CC-12550    10.368  CC-12550
1005  169901.0 2017-06-15  Standard    CC-12550    47.976  CC-12550

                  name    segment       state           city
0      Jasper Cacioppo   Consumer  California    Los Angeles
1      Jasper Cacioppo   Consumer  California    Los Angeles
2      Jasper Cacioppo   Consumer  California    Los Angeles
3      Jasper Cacioppo   Consumer  California    Los Angeles
4         Kunst Miller   Consumer  California    Los Angeles
...                ...        ...         ...            ...
1001  Lindsay Williams  Corporate  California  San Francisco
1002  Lindsay Williams  Corporate  California  San Francisco
1003     Clay Cheatham   Consumer  California  San Francisco
1004     Clay Cheatham   Consumer  California  San Francisco
1005     Clay Cheatham   Consumer  California  San Francisco

[1006 rows x 10 columns]

In [77]:
dt_cust[dt_cust['state']=='California']

           id                name      segment       state           city
1    DV-13045     Darrin Van Huff    Corporate  California    Los Angeles
3    BH-11710     Brosina Hoffman     Consumer  California    Los Angeles
9    ZD-21925  Zuschuss Donatelli     Consumer  California  San Francisco
13   EH-13945       Eric Hoffmann     Consumer  California    Los Angeles
19   RA-19885        Ruben Ausman    Corporate  California    Los Angeles
..        ...                 ...          ...         ...            ...
770  DO-13645      Doug O'Connell     Consumer  California    Los Angeles
774  AO-10810   Anthony O'Donnell    Corporate  California    Los Angeles
778  VP-21760    Victoria Pisteka    Corporate  California  San Francisco
780  IM-15055       Ionia McGrath     Consumer  California      Roseville
786  BD-11560      Brendan Dodson  Home Office  California         Fresno

[161 rows x 5 columns]